<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.me.web.pojo.User"/>
        <mapping class="com.me.web.pojo.Transaction"/>
        <mapping class="com.me.web.pojo.Attachment"/>
    </session-factory>
</hibernate-configuration>